/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 1.5rem;
    z-index: 10; }
    .composition__photo:hover {
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      outline: 1.2rem solid #55c57a;
      z-index: 20;
      transform: scale(1.1) translateY(-0.5rem) !important; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
  .composition__photo--1 {
    left: 0;
    top: -2rem; }
  .composition__photo--2 {
    right: 0;
    top: 2rem; }
  .composition__photo--3 {
    left: 20%;
    top: 10rem; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-primery {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primery--main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    display: block; }
  .heading-primery--sub {
    font-size: 2rem;
    letter-spacing: 17.5px;
    display: block; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
  transition: all 0.3s; }
  .heading-secondary:hover {
    transform: skewX(2deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.section-about {
  background-color: #f6f6f6;
  padding: 25rem 0 15rem 0;
  margin-top: -23vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 80px; }

.u-margin-bottom-samll {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem; }
  .btn:link:hover,
  .btn:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(-1.5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn:link::after,
  .btn:visited::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn:link:hover::after,
  .btn:visited:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #55c57a;
  display: inline-block;
  padding: 3px;
  border-bottom: 1px solid #55c57a;
  font-size: 1.6rem;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #f6f6f6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  position: relative; }
  .header .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header .header__logo {
    height: 3.5rem; }
  .header .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  width: 114rem;
  margin: 0 auto;
  display: block; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 2 *6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 *6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 *6rem) / 4) + 2 *6rem); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2.5rem;
  box-sizing: border-box;
  background-color: #f8f9fa; }
