// ----------COLORS---------
$color-primery: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-light-1: #f6f6f6;

// ----------GRID---------
$grid-width: 114rem;
$grid-vertical: 8rem;
$grid-horizontal: 6rem;
// ----------GRID---------
// ----------FONT---------
$default-font-size: 1.6rem;
