/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

// ------------IMPORTS--------------
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "pages/home";
@import "components/button";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "layout/header";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2.5rem;
  box-sizing: border-box;
  background-color: #f8f9fa;
}
